<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zorigt.ime.black.sequence.repository.mapper.BlackSequenceMapper">
    <resultMap id="resultMap" type="com.zorigt.ime.black.sequence.model.BlackSequence">
        <id property="id" column="id"/>
        <result property="str" column="str"/>
    </resultMap>

    <select id="queryAll" resultMap="resultMap">
        select `id`,`str`
        from black_sequence
        limit #{offset},#{size}
    </select>

    <insert id="insertAll" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.zorigt.ime.black.sequence.model.BlackSequence">
        insert into black_sequence(`str`)
        values
        <foreach collection="collection" item="item" separator=",">
            (#{item})
        </foreach>
    </insert>
</mapper>